__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.python-version


.venv/
venv/
env/
ENV/
bin/
lib/
include/
share/

.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
.bandit/

.env
*.log
auth.json
*.pem

.vscode/
.idea/
.DS_Store

*.bat
via_template.py
