# --- Framework & Serveur ---
fastapi
uvicorn

# --- Tests ---
pytest
httpx

# --- Quality & Pre-commit ---
pre-commit
mypy
ruff
codespell
bandit
interrogate
detect-secrets
checkov
pip-audit

# --- Types for Mypy ---
types-requests
types-setuptools
